# Core functionality - changes here should be rare!
/src/app.py                   @Yugen1121
/src/backend/database.py      @Yugen1121
/src/backend/routers/auth.py  @Yugen1121

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Yugen1121
